body {
    font-family: sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.user-tile {
    border: 1px solid #2d3748;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    background-color: #2d3748;
    color: #edf2f7;
}

.user-tile:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: #4a5568;
}
